
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=PT+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=PT+Sans&display=swap');


body {
    /* height: 300vh; */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    background-image: url('../../assets/LandingPage.png');
    background-size: 100% auto; /* Cover width, overflow height */
    font-family: Inter;
    /* background-repeat: no-repeat; */
    /* Optional: to keep the background fixed while scrolling */
  } 

nav{
  display: flex;
  align-items: flex-start;
  padding-top: 5%;
  /* background-color: white; */
  width: 99vw;
  /* height: 20vh; */
  justify-content: space-between;
  
  /* margin:0; */
  
  /* margin-right: 11.7vw; */
}
.logo{
  width: 10%;
  height: auto;
  padding-left: 12%;
  position: relative;
  top: 5%;
  cursor: pointer;
  
}
.nav-links div{
  color: white;
  font-size: 1em;
  padding-left: 3%;
  padding-right: 3%;
  cursor: pointer;
  padding-top: 3%;
}
.nav-links{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width:40%;
} 
.logo , .nav-links{
  padding-bottom: 2%;
}
.qr-code{
  height: auto;
  width: 6%;
  padding-right: 12%;
  position:relative;
}
.first-section{
  width: 75vw;
  /* height: 80vh; */
  margin-left: 12vw;
  display: flex;
}
/*  */

.threephones{
  width: 100%;
  height: auto;
  position: relative;
  bottom: 10%;
}
.first-sub-section{
  width: 50%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
} 
.first-sub-section div:nth-child(1){
  font-size: 40px;
  color: white;
  font-weight: bold;
  width: 100%;
  /* height: 50%; */
  position: relative;
  left: 3%;
}

.first-sub-section div:nth-child(2){
  display: flex;
  position: relative;
  /* bottom: 21%; */
  right:7%;
}
.playstorebutton{
  width: 53%;
  height: auto;
  cursor: pointer;
  padding-left: 7%;
}
.first-sub-section img:nth-child(2), .third-sub-section-1 img:nth-child(2){
    width: 52%;
    height: 68%;
    padding-top: 3.5%;
    cursor: pointer;

}

.second-section{
  width: 70vw;
  /* height: 80vh; */
  position: relative;
  top: 3%;
  margin-left: 14.5vw;
  border-radius: 30px;
  background-color: #FFD9E0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 10%;
  margin-top: 10%;
}


.second-section-welcome{
  position: relative;
  top: 5%;
  
  /* height: 20%; */
  color: #EA2D53;
  font-size: 500%;
  font-weight: bold;
  border-radius: inherit;
}

.second-section-text{
  
  /* height: 15%; */
  border-radius: inherit;
  font-size: 1em;
  position: relative;
  top: 3%;
  padding-left: 13%;
  padding-right: 13%;
}


.second-sub-parent{
  /* height: 65%; */
  
  border-radius: inherit;
  display: flex;
}

.second-sub-section{
  width: 60%;
  /* height: 100%;  */
}

.second-sub-section-1{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 13%;
  padding-top: 2%;
  /* justify-content: space-evenly; */
  
}

.second-sub-section-1 div{
  margin-top: 0.5em;
}
.second-sub-heading{
  font-style: italic;
  font-size: 170%;
  font-weight: 600;
  /* padding-right: 30%; */
  text-align: left;
}
.red-list{
  text-align: left;
  padding-bottom: 15%;
}

.second-sub-section-1 img{
  width: 1em;
  height: 1em;
  margin-right: 1em;
}


.second-sub-section-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;

}
.second-sub-section-2 img{
     width: 100%;
    /* height: 90%; */
    /* position: relative;
    top: 7%; */
    /* right: 10%; */
}

.third-section{
  position: relative;
  top: 10%;
  width: 99vw;
  /* height: 45vh; */
  background-color: rgba(234, 45, 83, 0.8);
  display: flex;
  justify-content: center;  
  flex-direction: row;
  margin-bottom: 3%;
}

.third-sub-section-1 , .third-sub-section-2{
  /* height: 100%; */
  width: 37%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.third-sub-section-1{
  align-items: start;
}


.third-sub-section-1 div:nth-child(3){
  display: flex;
  position: relative;
  left: -10%;
  /* bottom: 21%; */
  /* right:7%; */
  /* right: 2%;
  top: 17%; */
}
.third-sub-section-1 div:nth-child(1), .third-sub-section-1 div:nth-child(2){
  color: white;
  /* font-size: larger; */
  text-align: left;
  padding-right: 3%;
  ;
  /* position: relative;
  top: 20%; */
}
.third-sub-section-1 div:nth-child(1){
  padding-right: 42%;
  font-size: 1.5em;
}

.third-sub-section-1 div:nth-child(2){
  font-weight: 900;
  font-size: 4.5em;
}

.third-sub-section-2 img{
  /* height: 100%; */
  width:65%
}

.footer{
  position: relative;
  top: 11%;
  width: 99vw;
  margin-bottom: 2%;
  /* height: 30vh; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.signup{
  font-size: 1.7em;
  font-weight: 400;
  margin: 1%;
  
}

input{
  border: none;
  background: none;
  outline: none;
}
input::placeholder{
  color: gray;
  font-size: 100%;
}


.entry-fields{
  display: flex;
  margin-top: 1%;
  width: 31%;
  font-size: 100%;
  
}
.entry-fields input{
  width: 20vw;
  margin-left: 1vw;
  background-color: white;
  padding: 3.2%;
  /* padding-left: 3%; */
  border-radius: 1px;
}
.entry-fields div{
  /* width: 7vw; */
  margin-left: 1vw;
  background-color: rgba(234, 45, 83, 1);
  /* padding: 3.2%; */
  text-align: center;
  border-radius: 1px;
  font-size: smaller;
  cursor: pointer;
}
.footer-span{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer div:nth-child(3) img{
  padding-right: 5%;
  width: 5%;
  /* height: 92%; */
  cursor: pointer;
}
.footer div:nth-child(3){
  width: 30vw;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  position: relative;
  top: 2%;
}

.footer div:nth-child(4), .footer div:nth-child(5){
  position: relative;
  top:10%;
  color: rgba(217, 217, 217, 1);
}
.toctic{
  color: rgba(234, 45, 83, 1);
}
input{
  vertical-align: center;
  padding:0;
}
/* .footer-span{
  font-size: 1;
} */


@media screen and (max-width: 900px){
  input::placeholder,.entry-fields{
    font-size: 70%;
  }
}

@media screen and (max-width: 800px) {
  /* .nav-links {
    display: none;
  } */

  .first-sub-section div:nth-child(1){
    font-size: 25px;
    
   }
   .footer div:nth-child(4), .footer div:nth-child(5) {
    font-size: x-small;
}
   input::placeholder,.entry-fields{
    font-size: 50%;
  }
  .second-section-welcome{
    font-size: 300%
  }
  .second-section-text{
    font-size: 0.5em;
  }
  .second-sub-heading{
    font-size: 80%;
  }
  .red-list{
    font-size: 0.5em;
  }
  .second-section{
    border-radius: 20px;
  }
  .third-sub-section-1 div:nth-child(1) {
    font-size: small;
  }
  .third-sub-section-1 div:nth-child(2) {
    font-size: xx-large;
  }
  .signup{
    font-size: 1.2em;  
  }




  /* .second-section-welcome{
    font-size: 300%;  
  }
  .second-section-text{
    font-size: 0.7em;
    
  }  */
}

@media screen and (max-width: 500px) {
  .nav-links {
    display: none;
  }
  
  .footer div:nth-child(4), .footer div:nth-child(5) {
    font-size: xx-small;
}
  .first-section, .third-section{
    flex-direction: column;
    align-items: center;
    margin-top: 10%;    
  }
  .first-section{
    margin-left: 14%;
  }
  .threephones{
    width: 150%;
  }
  .second-sub-parent{
    flex-direction: column;
    align-items: center;
  }
  .second-section{
    width: 60%;
    text-align: justify;
    align-items: center;
    margin-left: 20%;
  }
  .second-sub-section-2{
    margin:0;
  }
  .third-sub-section-1{
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .third-sub-section-1 div:nth-child(1), .third-sub-section-1 div:nth-child(2){
    margin: 0;
    padding: 0;
  }
  .third-sub-section-1 div:nth-child(2){
    margin-bottom: 5%;
    font-size: 30px;
  }
  .third-sub-section-2 img{
    width: 100%;
  }
  .third-sub-section-1 div:nth-child(1){
    
    font-size: xx-small;
  }
/*   
  input::placeholder,.entry-fields{
    font-size: 60%;
  } */
  .entry-fields div{
    font-size: 5px;
    border-radius: 1px;
  }
  .entry-fields{
    font-size: 5px;
    width: 34%;
  }
  .signup{
    font-size: 0.8em;  
  }
  /* .third-sub-section-1 div:nth-child(2) {
    font-size: small;
  } */
  
  /* .third-sub-section-1 div:nth-child(1) {
    font-size: 0.5em;
  } */
  .entry-fields input{
    min-width: none;
    border-radius: 1px;
  }
  .first-sub-section div:nth-child(1){
    font-size: 17px;
    
  }
  .first-sub-section{
    width: 80%;
    text-align: center;
  }
  
  .second-section{
    border-radius: 20px;
  }

  .second-section-welcome{
    font-size: 150%
  }
  .second-section-text{
    font-size: 0.3em;
  }
  .second-sub-heading{
    font-size: 50%;
  }
  .red-list{
    font-size: 0.1em;
  }
  .footer-span{
    font-size: xx-small;
  }
  .qr-code{
    position: relative;
    bottom: -10%;
  }
}

